.projetos-section {
    width: 100%;
    min-height: 90vh;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: space-around;

}

.formContainer {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: none;
    color: #333;
    border-bottom: 2px solid var(--primary);
    margin-bottom: 0.5rem;
  }
  
  .formGroup {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: none;
    color: black;
    font-weight: bold;
  }
  
  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--red);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
  }
  
   .genderOptions {
    display: flex;
    gap: 0.1rem;
    margin-top: none;
  }
  
  .genderOptions label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: normal;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: none;
  }
  
  .btnDenuncia,
  .btnVoltar {
    flex: 1;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: var(--primary);
    transition: background-color 0.3s ease;
  }
  
  .btnDenuncia {
    background-color: var(--red);
  }
  
  .btnDenuncia:hover {
    background-color: var(--red);
  }
  
  .btnVoltar {
    background-color: var(--red);
  }
  
  .btnVoltar:hover {
    background-color: var(--red);
  }

